@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');
*{
    font-family:'Open Sans',sans-serif;
}
.mjerna-jedinica{
    padding-right: 0;
}

.search-card{
    box-shadow: 12px 17px 85px -5px rgba(84,83,83,0.74);
    -webkit-box-shadow: 12px 17px 85px -5px rgba(84,83,83,0.74);
    -moz-box-shadow: 12px 17px 85px -5px rgba(84,83,83,0.74);
}

.weather-icon{
    max-width: 120px;
}
.weather-icon-card{
    width: 45px;
}
